<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.yusukeiwaki.irina_proxy">

    <application
        android:name=".IrinaProxyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="irina-proxy"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault.Light">

        <activity
            android:name=".entry.EntryActivity"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".sender.SendIntentProxyActivity"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>

        <service android:name=".sender.ChosenIntentDetectingService"/>

        <activity
            android:name=".viewer.ViewIntentProxyActivity"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:host="@string/irina_hostname" android:scheme="https"/>
            </intent-filter>
        </activity>
    </application>

</manifest>